/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container1 {
    margin-bottom: 30px;
}
.container2 {
    margin-top: 0;
}

h1 {
    color: #1e88e5;
    margin-bottom: 20px;
}

/* Botones */
button {
    display: block;
    margin: 10px auto;
    background-color: #42a5f5;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #1e88e5;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

a {
    color: #42a5f5;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}
